bin/Debug/net6.0/rpg_project.dll
bin/Debug/net6.0/rpg_project.exe
bin/Debug/net6.0/rpg_project.pdb
bin/Debug/net6.0/rpg_project.runtimeconfig.json
obj/project.assets.json
obj/rpg_project.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/rpg_project.csproj.nuget.g.props
obj/rpg_project.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/rpg_project.AssemblyInfo.cs
obj/Debug/net6.0/rpg_project.AssemblyInfoInputs.cache
obj/Debug/net6.0/rpg_project.assets.cache
obj/Debug/net6.0/rpg_project.csproj.AssemblyReference.cache
obj/Debug/net6.0/rpg_project.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/rpg_project.csproj.FileListAbsolute.txt
obj/Debug/net6.0/rpg_project.dll
obj/Debug/net6.0/rpg_project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/rpg_project.GlobalUsings.g.cs
obj/Debug/net6.0/rpg_project.genruntimeconfig.cache
obj/Debug/net6.0/rpg_project.pdb
obj/Debug/net6.0/ref/rpg_project.dll
obj/Debug/net6.0/refint/rpg_project.dll
